<div class="card border-0">
  <div class="parent">
        <div class="image">
          <img
            [src]="product?.thumbnail || product?.images[0]"
            class="card-img-top p-5"
            alt="image"
          />
        </div>
        <div>
          <button class="text-white rounded-bottom" (click)="addToCart()">
            {{ isInCart ? 'Added ✅' : 'Add To Cart' }}
          </button>

        </div>
  </div>
  <div class="card-body">
        <h5 class="card-title">{{ product?.title }}</h5>
        <p class="card-text">
          <span class="text-danger pe-3"> {{ product?.price }} $</span>
        </p>
        <div class="stars" *ngIf="stars">
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-star-fill "
              viewBox="0 0 16 16"
              style="color: #ffad33"
            >
              <path
                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
              />
            </svg>
          </div>
          <div>
            <p class="text-secondary number">{{ product?.rating }}</p>
          </div>
        </div>
  </div>

  <div class="icons">
    <button
      type="button"
      class="iconone mb-1 rounded-circle"
      (click)="toggleWishlist()"
      *ngIf="iconone"
      [attr.aria-label]="isInWishlist ? 'Remove from wishlist' : 'Add to wishlist'"
      [attr.aria-pressed]="isInWishlist"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        [attr.fill]="isInWishlist ? '#db4444' : 'currentColor'"
        [attr.class]="isInWishlist ? 'bi bi-heart-fill' : 'bi bi-heart'"
        viewBox="0 0 16 16"
      >
        <path
          *ngIf="isInWishlist"
          d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.735 3.562-3.248 8 1.314z"
        />
        <path
          *ngIf="!isInWishlist"
          d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"
        />
      </svg>
    </button>
        <div class="icontwo mb-1 rounded-circle" *ngIf="icontwo">
          <svg
          [routerLink]="['/all-products', product.id]"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-eye"
            viewBox="0 0 16 16"
          >
            <path
              d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"
            />
            <path
              d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"
            />
          </svg>
        </div>
        <div class="iconthree rounded-circle" *ngIf="iconthree">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-trash3"
            viewBox="0 0 16 16"
          >
            <path
              d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"
            />
          </svg>
        </div>
  </div>
  <div class="sale text-white" *ngIf="discountFlag">
        <p>-{{product.discountPercentage}}%</p>
  </div>
  <div class="salenew text-white" *ngIf="new">
        <p>NEW</p>
  </div>
</div>
