<div class="container mt-4 mb-5">
  <div class="featured-grid">
    <div class="featured-card large-card">
      <img src="ps5-slim-goedkope-playstation_large 1.png" alt="PlayStation 5" class="img1">
      <div class="featured-overlay1">
        <h3 class="mb-3">PlayStation 5</h3>
        <p>Black and White version of the PS5 coming out on sale.</p>
        <a routerLink="/all-products">Shop Now</a>
      </div>
    </div>

    <div class="featured-card medium-card">
      <img src="WhatsApp Image 2025-02-27 at 00.19.52_87cac7fd.jpg" alt="Women's Collections" class="img2">
      <div class="featured-overlay2">
        <h3 class="mb-2">Women's Collections</h3>
        <p>Featured woman collections that give you another vibe.</p>
        <a routerLink="/all-products">Shop Now</a>
      </div>
    </div>

    <div class="featured-card small-card">
      <img src="69-694768_amazon-echo-png-clipart-transparent-amazon-echo-png 1.png" alt="Speakers" class="img3">
      <div class="featured-overlay3">
        <h3>Speakers</h3>
        <p>Amazon wireless speakers</p>
        <a routerLink="/all-products">Shop Now</a>
      </div>
    </div>

    <div class="featured-card small-card">
      <img src="652e82cd70aa6522dd785109a455904c.png" alt="Perfume" class="img4">
      <div class="featured-overlay4">
        <h3>Perfume</h3>
        <p>GUCCI INTENSE OUD EDP</p>
        <a routerLink="/all-products">Shop Now</a>
      </div>
    </div>
  </div>
</div>
